html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin:  0px!important;
    padding: 0px!important;
    border:  0px!important;
    font-size: 100%;
    font: inherit;
  }

  
.primarybg{
    background-color: rgb(4, 4, 214);
    color: white;
}


  .footer-bg{
    background-color: rgb(6, 6, 160);
  }
/* navbar area */

.gap{
    margin-left: 115px!important;
}

/* end navbar area */

nav ul a:hover{
    background-color: rgb(32, 14, 201) !important;
}


/* hero area */
.button{
    padding: 8px 30px!important;
    background-color: rgb(3, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
}

.button:hover{
    background-color: rgb(2, 0, 0);
    color: rgb(235, 217, 217);
    border: 3px solid rgb(236, 8, 8);
}

/* secvices start*/
.card-body:hover{
    background-color: whitesmoke!important;
    color:black !important;

}

/* send money section */
.sendmoneybg{
    background-color: rgb(208, 216, 216);
    
}


/* ====== media query  ======== */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    
    /* topbar */
.info{
    margin-top: 5px !important;
    font-size:11.5px !important;
}

.app{
    flex-direction:column;
  
}

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  
    
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) 
 {

 }
    
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

  
} 